/* General styles */

body, html {
    height: 100%;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300; /* This sets the font to light weight */
    color: white;
    background: url('Assets/background.jpg') no-repeat center center fixed; /* Your background image */
    background-size: cover; /* Cover the entire background */
}

/* Navigation bar styles */
nav.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

nav a {
    margin-left: 20px;
    text-decoration: none; /* Remove underline */
    color: white; /* Make links white */
    font-size: 18px;
    font-weight: bold;
    font-family: "Helvetica Light", "Helvetica", Arial, sans-serif;
}

/* Hover effect for navigation links */
nav a:hover {
    color: #f39c12; /* Change color when hovering over links */
}

/* Ensure links don't show blue/underline */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #f39c12;
}

/* Container for the main content */
.container {
    text-align: center;
    padding-top: 150px;
}

.logo {
    width: 150px;
    height: auto;
}

h1 {
    font-size: 48px;
    margin: 20px 0;
    color: white;
}

.quote {
    font-size: 24px;
    margin: 10px 0;
    color: white;
    font-style: italic;
}

.email, .rights {
    font-size: 18px;
    margin-top: 20px;
    color: white;
}

.email a {
    color: white;
    text-decoration: none;
}

.email a:hover {
    color: #f39c12;
}